.mydiv {
  flex-direction: column;
  display: block;
}

.background {
  background-color: white;
}

.menubar {
  position: relative;
  display: block
}

.Footer {
    height: 70px;
    position: fixed;
    bottom: 0;
    background: #201D1E;
    padding: 10px 0;
    width: 100%;
}

.footer {
    padding: inherit;
}

.menu-item{
    font-size: large;
}




.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

[data-theme="compact"] .code-box-demo .ant-alert {
  margin-bottom: 8px;
}

 .hidden { display:none; }